<%- include("header",{type:''}) %>
    <div class="container">
        <ul class="posts spost">
            <li>
                <div class="author">
                    <span title="<%= posts.name %>"><a href="/posts?author=<%= posts.name %> ">author: <%= posts.name %>
                                </a></span>
                    <span>评论数：<%= posts.comments %></span>
                    <span>浏览量：<%= posts.pv %></span>
                </div>
                <div class="comment_pv">
                    <span>
                        <%= posts.moment %>
                    </span>
                </div>
                <a href="/posts/<%= posts.id %>">
                    <div class="title">
                        <img class="userAvatar" src="../images/<%= posts.avatar %>" alt="avatar">
                        <%- posts.title %>
                    </div>
                    <div class="content markdown">
                        <%- posts.content %>
                    </div>
                </a>
                <div class="edit">
                    <% if(session && session.user===posts.name ){ %>
                        <p><a href="<%= posts['id'] %>/edit">编辑</a></p>
                        <p><a class="delete_post">删除</a></p>
                        <% } %>
                </div>
            </li>
        </ul>
    </div>
    <%- include("footer")%>